# CAT - Dossier
This repository is a demo how to upload and display results from an analysis repository to a Dossier.
Here we receive output from the [Continuous Analysis Template](https://gitlab.cern.ch/sneubert/ContinuousAnalysisTemplate/)

*Created from {{url}}/commits/{{rev}} on branch {{branch}}*

# Slides
[Slides](latex/CAT.pdf)

# Plots

![Xfit](plots/Xfit.png)
